<div id="CEO" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2><%= profileData.CEO.title || 'Title not available' %></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#CEO">
                            <% if (profileData.CEO.images && profileData.CEO.images.length > 0) { %>
                                <img src="<%= profileData.CEO.images[1] %>" alt="">
                            <% } %>
                        </a>
                        <center>
                            <p><b><%= __('Mr. Mohammed Nabil Hamo')%></b></p>
                            <p><b><%= __('Président Directeur Général')%></b></p>
                        </center>
                    </div>
                    <div class="image-container">
                        <a href="#home">
                            <% if (profileData.CEO.images && profileData.CEO.images.length > 1) { %>
                                <img src="<%= profileData.CEO.images[0] %>" alt="">
                            <% } %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head"><%= profileData.CEO.title || 'Title not available' %></h4>
                        </a>
                        <p><%= profileData.CEO.content || 'Content not available' %></p>
                         <p><%= profileData.CEO.additionalContent %></p>
                        <p><%= profileData.CEO.text %></p>
                        <% if (profileData.CEO.quotes && profileData.CEO.quotes.length > 0) { %>
                            <% profileData.CEO.quotes.forEach(quote => { %>
                                <ul>
                                    <li>
                                        <p><i class="fa fa-quote-right"></i> <b><%= quote %></b> <i class="fa fa-quote-left"></i></p>
                                    </li>
                                </ul>
                            <% }) %>
                        <% } %>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
