<header>
  <div class="ticket">
    <img src="/public/img/1/alg.png" alt="Ticket">
    <div class="details">
      <div class="phone-number">Verital SPA</div>
      <p>dg@verital.dz</p>
      <p>+213(0)23701727</p>
      <p>www.verital.dz</p>
    </div>
  </div>
  <div id="sticker" class="header-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand sus-btn page-scroll sticky-logo <%= isActiveRoute('/', currentRoute) %>" href="/">
                <img src="/public/img/logo.png" alt="Verital" title="Verital" class="img-fixed logo-image">
              </a>
            </div>
            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="<%= isActiveRoute('/', currentRoute) %>"><%= __('home') %></a></li>
                <li><a class="page-scroll <%= isActiveRoute('/profile', currentRoute) %>" href="/profile"><%= __('profile') %></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= __('services') %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% services.forEach(service => { %>
                      <li><a href="/services/<%= service.name %>"><%= service.name %></a></li>
                    <% }) %>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= __('divisions') %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% divisions.forEach(division => { %>
                    <li><a href="/division/<%= division.name %>"><%= division.title && division.title[lang] ? division.title[lang] : division.name %></a></li>
                    <% }) %>
                  </ul>
                </li>          
                <!-- <li><a class="page-scroll <%= isActiveRoute('/team', currentRoute) %>" href="/team"><%= __('team') %></a></li> -->
                <li><a class="page-scroll <%= isActiveRoute('/news', currentRoute) %>" href="/news"><%= __('news') %></a></li>
                <li><a class="page-scroll <%= isActiveRoute('/contact', currentRoute) %>" href="/contact"><%= __('contact') %></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= __('languages') %> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/change-language/fr"><%= __('french') %></a></li>
<li><a href="/change-language/en"><%= __('english') %></a></li>
<li><a href="/change-language/ar"><%= __('عربي') %></a></li>

                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
