<%- include('partials/header.ejs', { currentRoute: '/blog', newsData: newsData }) %>

<!-- Start Bottom Header -->
<div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider-content text-center">
                    <div class="header-bottom">
                        <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                            <h1 class="title2">Blog Details</h1>
                        </div>
                        <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                            <h2 class="title3">Professional Blog Page</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Header -->
<div class="blog-page area-padding">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="page-head-blog">
                    <div class="single-blog-page">
                        <!-- search option start -->
                        <form action="/search" method="get">
                            <div class="search-option">
                                <input type="text" name="q" placeholder="Search...">
                                <button class="button" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                        <!-- search option end -->
                    </div>
                    <div class="single-blog-page">
                        <!-- recent start -->
                        <div class="left-blog">
                            <h4>Recent Post</h4>
                            <div class="recent-post">
                                <% newsData.forEach(news => { %>
                                    <div class="recent-single-post">
                                        <div class="post-img">
                                            <a href="/blog/<%= news._id %>">
                                                <img src="<%= news.pictures %>" alt="">
                                            </a>
                                        </div>
                                        <div class="pst-content">
                                            <p><a href="/blog/<%= news._id %>"> <%= news.title.en %> </a></p>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                        <!-- recent end -->
                    </div>
                    <div class="single-blog-page">
                        <div class="left-blog">
                            <h4>Categories</h4>
                            <ul>
                                <% newsData.forEach(news => { %>
                                    <li><a href="#"> <%= news.category.en %> </a></li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                    <div class="single-blog-page">
                        <div class="left-blog">
                            <h4>Archive</h4>
                            <ul>
                                <% newsData.forEach(news => { %>
                                    <li><a href="#"><%= new Date(news.date).toDateString() %></a></li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                    <div class="single-blog-page">
                        <div class="left-tags blog-tags">
                            <div class="popular-tag left-side-tags left-blog">
                                <h4>Popular Tags</h4>
                                <ul>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Project</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">wordpress</a></li>
                                    <li><a href="#">Joomla</a></li>
                                    <li><a href="#">Html</a></li>
                                    <li><a href="#">Masonry</a></li>
                                    <li><a href="#">Website</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!-- Start single blog -->
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-blog-page">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-blog">
                                            <div class="single-blog-img">
                                                <img src="<%= article.pictures %>" alt="">
                                            </div>
                                            <div class="blog-meta">
                                                <span class="comments-type">
                                                    <i class="fa fa-comment-o"></i>
                                                    <a href="#"> <%= article.comments.length %> comments</a>
                                                </span>
                                                <span class="date-type">
                                                    <i class="fa fa-calendar"></i> <%= new Date(article.date).toDateString() %>
                                                </span>
                                            </div>
                                            <div class="blog-text">
                                                <h4>
                                                    <%= article.title.en %>
                                                </h4>
                                                <p>
                                                    <%= article.content.en %>
                                                </p>
                                            </div>
                                            <div class="blog-meta">
                                                <span class="likes-type">
                                                    <i class="fa fa-thumbs-up"></i>
                                                    <%= article.reactions.likes %> Likes
                                                </span>
                                                <span class="dislikes-type">
                                                    <i class="fa fa-thumbs-down"></i>
                                                    <%= article.reactions.dislikes %> Dislikes
                                                </span>
                                            </div>
                                            <form action="/news/<%= article._id %>/react" method="POST">
                                                <button type="submit" name="type" value="like">Like</button>
                                                <button type="submit" name="type" value="dislike">Dislike</button>
                                            </form>                                            
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Comments</h3>
                                        <form action="/news/<%= article._id %>/comment" method="POST">
                                            <input type="text" name="user" placeholder="Your name" required>
                                            <textarea name="text" placeholder="Your comment" required></textarea>
                                            <button type="submit">Submit</button>
                                        </form>
                                        <div class="comments">
                                            <% article.comments.forEach(comment => { %>
                                                <div class="comment">
                                                    <strong><%= comment.user %>:</strong>
                                                    <p><%= comment.text %></p>
                                                    <small><%= new Date(comment.date).toDateString() %></small>
                                                </div>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Area -->
<div class="clearfix"></div>

<%- include('partials/footer.ejs') %>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- JavaScript Libraries -->
<%- include('partials/lib.ejs') %>
