<%- include('partials/header.ejs', { currentRoute: '/division', services: services, divisions: divisions }) %>
<% if (division) { %>
  <div id="<%= division.name %>" class="slider-area">
    <div class="header-bg4 page-area">
      <div class="home-overly"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content text-center">
              <div class="header-bottom">
                <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                  <% if (division.title && division.title[lang]) { %>
                    <h1 class="title2"><%= division.title[lang] %></h1>
                  <% } else { %>
                    <h1 class="title2"><%= __('Title not available') %></h1>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Header -->

    <div class="blog-page area-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="page-head-blog">
              <div class="single-blog-page">
                <form action="/search" method="get">
                  <div class="search-option">
                    <input type="text" name="q" placeholder="<%= __('Search...') %>">
                    <button type="submit"><%= __('Search') %></button>
                  </div>
                </form>
              </div> 
              <div class="single-blog-page">
                <div class="left-blog">
                  <h4><%= __('Our services') %></h4>
                  <div class="recent-post">
                    <% division.services.forEach(service => { %>
                      <div class="recent-single-post">
                        <div class="post-img">
                          <a href="<%= division.name %>">
                            <% if (service.name && service.name[lang]) { %>
                              <img src="<%= service.image %>" alt="<%= service.name[lang] %>">
                            <% } else { %>
                              <img src="img/default.png" alt="<%= service.name %>">
                            <% } %>
                          </a>
                        </div>
                        <div class="pst-content">
                          <% if (service.name && service.name[lang]) { %>
                            <p><a href="<%= division.name %>"><%= service.name[lang] %></a></p>
                          <% } else { %>
                            <p><a href="<%= division.name %>"><%= __('Service name not available') %></a></p>
                          <% } %>
                        </div>
                      </div>
                    <% }) %>
                  </div>
                </div>
              </div>
              <div class="single-blog-page">
                <div class="left-tags blog-tags">
                  <div class="popular-tag left-side-tags left-blog">
                    <h4><%= __('Popular Tags') %></h4>
                    <ul>
                      <li><a href="/division/<%= division.name %>"><%= division.title && division.title[lang] ? division.title[lang] : division.name %></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="single-blog-img">
                    <a href="#">
                      <% if (division.image && division.image.length > 0) { %>
                        <img src="<%= division.image[0] %>" alt="<%= division.name %> Image">
                      <% } else { %>
                        <img src="img/default.png" alt="<%= division.name %> Image">
                      <% } %>
                    </a>
                  </div>
                  <div class="blog-meta">
                    <span class="comments-type"></span>
                  </div>
                  <div class="blog-text">
                    <% if (division.title && division.title[lang]) { %>
                      <h4><a href="<%= division.name %>"><%= division.title[lang] %></a></h4>
                    <% } else { %>
                      <h4><a href="<%= division.name %>"><%= __('Title not available') %></a></h4>
                    <% } %>
                    <% if (division.description && division.description[lang]) { %>
                      <p><%= division.description[lang] %></p>
                    <% } else { %>
                      <p><%= __('Description not available') %></p>
                    <% } %>
                    <a href="#">
                      <img src="/public/img/about/aero1.png" alt="">
                    </a>
                  
                  </div>
                  <span>
                    <a href="#" class="ready-btn"><%= __('Read more') %></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% } else { %>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="alert alert-warning"><%= __('Division data is missing or incomplete.') %></p>
      </div>
    </div>
  </div>
<% } %>

<%- include('partials/footer.ejs') %>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<%- include('partials/lib.ejs') %>
