
<div id="preloader"></div>

<!-- index.ejs -->
<%- include('partials/header.ejs') %>

<!-- header end -->

<!-- Start Slider Area -->
<div id="home" class="slider-area">
  <div class="bend niceties preview-2">
    <div id="ensign-nivoslider" class="slides">
      <img src="img/slider/aero.png" alt="" title="#slider-direction-1" />
      <img src="img/slider/slider1.jpg" alt="" title="#slider-direction-2" />
      <img src="img/slider/s2.png" alt="" title="#slider-direction-3" />
      <img src="img/slider/s3.jpg" alt="" title="#slider-direction-4" />
      <img src="img/slider/s4.jpg" alt="" title="#slider-direction-1" />
      <img src="img/slider/s5.jpg" alt="" title="#slider-direction-2" />
      <img src="img/slider/s6.jpg" alt="" title="#slider-direction-3" />
      <img src="img/slider/s1.png" alt="" title="#slider-direction-1" />
      <img src="img/slider/s7.jpg" alt="" title="#slider-direction-1" />
      <img src="img/slider/s8.jpg" alt="" title="#slider-direction-2" />
      <img src="img/slider/s9.jpg" alt="" title="#slider-direction-3" />
      <img src="img/slider/s10.jpg" alt="" title="#slider-direction-1" />
      <img src="img/slider/s11.jpg" alt="" title="#slider-direction-2" />
    </div>

    <!-- direction 1 -->
    <div id="slider-direction-1" class="slider-direction slider-one">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content">
              <!-- layer 1 -->
              <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                <h2 class="title1">Verital</h2>
              </div>
              <!-- layer 2 -->
              <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                <h1 class="title2">Organisme algerién de Contrôle Technique depuis 1989 accrédité par ALGERAC</h1>
              </div>
              <!-- layer 3 -->
              <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                <a class="ready-btn right-btn page-scroll" href="#services">Nos Services</a>
                <a class="ready-btn right-btn page-scroll" href="index2.html">Nos Divisions</a>
                <a class="ready-btn page-scroll" href="#about">En savoir plus</a>
                <a class="ready-btn page-scroll" href="#blog">Actualités</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- direction 2 -->
    <div id="slider-direction-2" class="slider-direction slider-two">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content text-center">
              <!-- layer 1 -->
              <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                <h2 class="title1">Les meilleur depuis 1989 </h2>
              </div>
              <!-- layer 2 -->
              <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                <h1 class="title2">Nous sommes dans le domaine du service de qualité</h1>
              </div>
              <!-- layer 3 -->
              <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                <a class="ready-btn right-btn page-scroll" href="#services">Nos Services</a>
                <a class="ready-btn right-btn page-scroll" href="index2.html">Nos Divisions</a>
                <a class="ready-btn page-scroll" href="#about">En savoir plus</a>
                <a class="ready-btn page-scroll" href="#blog">Actualités</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- direction 3 -->
    <div id="slider-direction-3" class="slider-direction slider-two">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="slider-content">
              <!-- layer 1 -->
              <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="3s" data-wow-delay=".2s">
                <h2 class="title1">Verital</h2>
              </div>
              <!-- layer 2 -->
              <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                <h1 class="title2">Aider à la sécurité et à la tranquillité d'esprit de votre entreprise</h1>
              </div>
              <!-- layer 3 -->
              <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                <a class="ready-btn right-btn page-scroll" href="#services">Nos Services</a>
                <a class="ready-btn right-btn page-scroll" href="index2.html">Nos Divisions</a>
                <a class="ready-btn page-scroll" href="#about">En savoir plus</a>
                <a class="ready-btn page-scroll" href="#blog">Actualités</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- direction 4 -->
<div id="slider-direction-4" class="slider-direction slider-one">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="slider-content">
          <!-- layer 1 -->
          <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
            <h2 class="title1">Verital</h2>
          </div>
          <!-- layer 2 -->
          <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
            <h1 class="title2">Votre sécurité est notre mission</h1>
          </div>
          <!-- layer 3 -->
          <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
            <a class="ready-btn right-btn page-scroll" href="#services">Nos Services</a>
                <a class="ready-btn right-btn page-scroll" href="index2.html">Nos Divisions</a>
                <a class="ready-btn page-scroll" href="#about">En savoir plus</a>
                <a class="ready-btn page-scroll" href="#blog">Actualités</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider Area -->
<!-- start CEO area -->

<div id="CEO" class="about-area area-padding" translate="yes">
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="section-headline text-center">
        <h2>MOT DU PDG</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- single-well start-->
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="well-left">
        <div class="single-well">
          <a href="#CEO">
              <img src="img/about/4.png" alt="">
            </a>
            <center>
            <p ><b>Mr.Mohammed Nabil Hamo</b></p>
            <p><b> Président Directeur Général </b></p>
          </center>
        </div>
        <div class="image-container">
          <a href="#home">
              <img src="img/about/3.png" alt="">
          </a>
      </div>
      
         
           </div>
    </div>
    <!-- single-well end-->
    <div class="col-md-6 col-sm-6 col-xs-12" translate="yes">
      <div class="well-middle">
        <div class="single-well">
          <a href="#">
            <h4 class="sec-head">MOT DU PDG</h4>
          </a>
          <p>
            VERITAL est de plus en plus sollicité pour contribuer aux débats sur la <b>« sécurité »</b> et <B>« analyse de problèmes potentiels ».</B>
J’y vois un signe de changement dans le regard des responsables sur cette entreprise et le début d’une reconnaissance des efforts engagés et des responsabilités courageusement assumées dans ces domaines.</p>
          <p>
            <ul>
              <il>
                <p><i class="fa fa-quote-right"></i>  <b>  VERITAL, n’est pas tout à fait comme les autres, ses missions de service public, sa culture de la gestion du risque et la standardisation au plan international de ses métiers sont une réalité que nul ne doit ignorer dans l’ intérêt bien compris de la sécurité et du confort du citoyen et du suivi des engagements conventionnels de notre pays au plan international.</b> <i class="fa fa-quote-left"></i></p>
                
              </il>
            </ul>
        <p>Les responsabilités, la diversité de ses relations et services avec et pour le compte des pouvoirs publics font partie de ses spécificités.</p>
        <ul>
          <il>
            <p><i class="fa fa-quote-right"></i>VERITAL, s’est résolument engagée dans la voie du développement, sans doute au bon moment et certainement à la satisfaction du citoyen qu’elle sert sans qu’ il le sache et des pouvoirs publics qu’elle représente et assiste au plan opérationnel pour assurer leurs responsabilités légales et réglementaires voire constitutionnelles, puisque l’État est responsable vis-à-vis de ses citoyens. <i class="fa fa-quote-left"></i></p>
            
          </il>
        </ul>
        <p>Je suis convaincu que, forte de ce nouveau regard porté sur elle,VERITAL saura relever le défi, ambitieux certes mais réaliste, d’ être l’entreprise publique de référence en Algérie dans le domaine de la supervision de la sécurité tant en termes d’expertises techniques que de conseils et analyse de problèmes potentiels.</p>
        <p>Elle continuera de développer sa capacité à promouvoir, en les faisant cohabiter, la sécurité et la protection de l’environnement dans les activités spécifiques de l’aéronautique, des transports maritimes, guidés et de l’ industrie.</p>
        <p>C’est en fait pour VERITAL, modeste par sa taille mais stratégique par ses missions et responsabilités et la conscience de son rôle d’entreprise citoyenne, un défi majeur car en dépend sa capacité à mener dans la durée sa politique de croissance par le partenariat et affermir son rôle de représentant exclusif des pouvoirs publics en gagnant leur confiance et en veillant au respect de leurs engagements conventionnels au plan international.</p>
        <p><i class="fa fa-quote-right"></i> <B> Somme toute, VERITAL apporte sa contribution 
          précieuse à la sécurité des personnes et des biens</B> <i class="fa fa-quote-left"></i></p>
        </div>
      </div>
    </div>
    <!-- End col-->
  </div>
</div>
</div>
<!-- end CEO area-->
<!-- Start About area -->
<div id="about" class="about-area area-padding" translate="yes">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>PROFIL Verital</h2>
          
        </div>
      </div>
    </div>
    <div class="row">
      <!-- single-well start-->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="well-left">
          <div class="single-well">
            <a href="#">
                                <img src="img/about/1.jpg" alt="">
                              </a>
             
          </div>
          <div class="image-container1">
            <div class="video-box">
                <a class="venobox play-btn mb-4" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/embed/V6539Psow84"></a>
                <img src="img/1/ser1-600x399.jpg" class="img-fluid" alt="">
            </div>
        </div>
         <div class="image-container">
            <a href="#">
                <img src="img/about/3.png" alt="">
               
            </a>
           
        </div>
          
        <div class="single-well">
          <a href="#">
              <img src="img/about/slide 8.jpg" alt="">
          </a>
         
      </div>
         
        
             </div>
      </div>
      <!-- single-well end-->
      <div class="col-md-6 col-sm-6 col-xs-12" translate="yes">
        <div class="well-middle">
          <div class="single-well">
            <a href="#">
              <h4 class="sec-head">Qui sommes nous</h4>
            </a>
            
            <p>
VERITAL est une EPE/SPA (Société Par Actions) de droit algérien gérée professionnellement et crée en 1989. </p>
            <p>
Son activité consiste, en Algérie et à l’étranger au contrôle des transports, de l’industrie, au contrôle de conformité des produits du commerce international et de qualité.</p>
            <p>
Son souci majeur est d’assurer la promotion de la sécurité des personnes et des biens dans les secteurs des transports et de la qualité.</p>
            <p> 
Grace à son  équipe hautement qualifiée (ingénieurs, experts, …) avec une longue et riche expérience dans différentes activités. VERITAL possède les moyens et les capacités nécessaires de satisfaire durablement les exigences du ses clients par une assistance et une écoute  organisées et permanentes. 
            </p>
            <ul>
              <li>
                <i class="fa fa-check" ></i> <b> Un réseau national performant</b>
                 <p>La combinaison unique d'un réseau national et d'une forte présence locale,une forte réactivité et une qualité de services.</p>
              </li>
              <li>
                <i class="fa fa-check"></i> <b>Notre réputation</b>
               <p>Fondée sur plus de 30 ans d'expérience dans le domaine du contrôle technique.</p>
              </li>
              <li>
                <i class="fa fa-check"></i><b>Un capital humain de haut niveau
                  </b>
                  
                    <p >- Une solide expertise technique.</p>          
                     <p>  - Une culture entrepreneuriale centrée sur le client. </p>
                 
              </li>
              <li>
                <i class="fa fa-check"></i> <b>Une expertise technique reconnue
                  </b> <p>– Un portefeuille d'accréditations exhaustif.<p>
                    – La connaissance des différents secteurs d'activité..</p></p>
              </li>
              
            </ul>
            <a href="#">
              <h4 class="sec-head">VERITAL est chargée notamment :</h4>
            </a>
            <ul>
              <li>
                <i class="fa fa-check" ></i> De la réalisation des opérations de contrôle des aéronefs immatriculés en Algérie requises selon les règles tant nationales qu’internationales, applicable pour la délivrance des certificats de navigabilité de ces appareils.
              </li>
              <li> <i class="fa fa-check" ></i>Des interventions au titre de la classification et/ou de la certification des navires et engins assimilés ainsi que des structures pétrolières marines, fixes ou mobiles, en vue de la délivrance des certificats de classification ou de tout autre certificats attestant de la conformité desdits navires, engins ou structures.
              </li>
            <li><i class="fa fa-check" ></i>De réaliser en Algérie et à l’étranger différentes prestations, la mise en oeuvre de services de contrôle, d’expertise et d'étalonnage, agréage des produits, vérification, analyse de problèmes potentiels, assistance technique et évaluation de la sécurité des infrastructures des systèmes de transports ferroviaires et guidés destinées à promouvoir la sécurité des personnes et des biens.</li>
            </ul>
            <a href="#">
              <h4 class="sec-head">VERITAL assure à ses clients:</h4>
            </a>
            <ul>
              <li>
                <i class="fa fa-check" ></i> Des visites effectuées à la date prévue;</li>
              <li><i class="fa fa-check" ></i>La disponibilité du personnel technique et les déplacements sur site;</li>
              <li><i class="fa fa-check" ></i>La délivrance de différents certificats...</li>
            </ul>
            <a href="#">
              <h4 class="sec-head">VERITAL est présente sur tout le territoire national:</h4>
            </a>
            <ul>
              <li><i class="fa fa-check" ></i>Direction Générale : Alger </li>
              <li><i class="fa fa-check" ></i>Division : Oran </li>
              <li><i class="fa fa-check" ></i>Division : Béjaia </li>
              <li><i class="fa fa-check" ></i>Division : Hassi Messaoud </li>
              <li><i class="fa fa-check" ></i>Division : Annaba </li>
              
            </ul>
          </div>
        </div>
      </div>
      <!-- End col-->
    </div>
  </div>
</div>

<!-- End About area -->
<div class="our-skill-area fix hidden-sm">
  <div class="test-overly"></div>
  <div class="skill-bg area-padding-2">
    <div class="container">
      <!-- section-heading end -->
      <div class="row">
        <div class="skill-text">
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Service area -->
<div id="services" class="services-area area-padding">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline services-head text-center">
          <h2>Nos Services</h2>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="services-contents">
        
        <!-- Start Left services -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="audit.html" target="_blank">
                                          <i class="fa fa-code" ></i>
            
                                      </a>
                
                <h4>AUDIT</h4>
                <p>  <h8>
                  gestion en temps réel de toute situation et
 Proposer des axes de progrès avec le
 Évaluation de la durabilité et de l'adaptabilité de vos installations
 Conformité réglementaire...</h8> 
                </p>
                
              </div>
            </div>
            
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="Certification.html" target="_blank">
                                          <i class="fa fa-certificate"></i>
                                      </a>
                <h4>CERTIFICATION</h4>
                <p>
                  La certification est à la base de l'excellence de nos services rendus en termes d'expertise afin d'entretenir des relations de confiance, de proximité avec nos clients, gérer les risques et stimuler la performance...
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="inspection.html" target="_blank">
                  <i class="fa fa-search"></i>

                                      </a>
                  <h4>INSPECTION</h4>
                  <p>
                    L'inspection consiste à vérifier sur place qu'un produit, un actif ou un système répond aux critères spécifiés...
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        
        <div class="col-md-6 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="consultation.html" target="_blank">
                  <i class="fa fa-user"></i>

                                      </a>
                <h4>CONSULTATION </h4>
                <p>
                  Consultation personnalisée et recommandations d'une organisation composée d'experts hautement qualifiés pour aider les entreprises à répondre aux exigences réglementaires.                  </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <!-- End Left services -->
        
        <div class="col-md-6 col-sm-4 col-xs-12 text-center">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#contact" target="_blank">
                                          <i class="fa fa-ticket"></i>
                                      </a>
                <h4>24/7 ASSISTANCE </h4>
                <p>
                  les clients peuvent obtenir de l'aide et trouver des réponses à leurs questions dès qu'elles se présentent, 24h/24 et 7j/7 et en temps réel                  </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Service area -->
<!-- our-skill-area start -->
<div class="our-skill-area fix hidden-sm">
  <div class="test-overly"></div>
  <div class="skill-bg area-padding-2">
    <div class="container">
      <!-- section-heading end -->
      <div class="row">
        <div class="skill-text">
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- our-skill-area end -->


<!-- Start Wellcome Area -->
<div class="wellcome-area">
  <div class="well-bg">
    <div class="test-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="wellcome-text">
            <div class="well-text text-center">
              <h2>Bienvenue chez Verital</h2>
              <p>
                abonnez-vous à notre newsletter et restez informé de toutes vos demandes et besoins
              </p>
              <div class="subs-feilds">
                <div class="suscribe-input">
                  <input type="email" class="email form-control width-80" id="sus_email" placeholder="Email">
                  <button type="submit" id="sus_submit" class="add-btn width-20">S'abonner</button>
                  <div id="msg_Submit" class="h3 text-center hidden"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Wellcome Area -->

<!-- Start portfolio Area -->
<div id="Divisions" class="services-area area-padding">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline services-head text-center">
         <a href="index2.html" target="_blank" translate="yes"> <h2>Nos Divisions</h2></a>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="services-contents">
        
        <!-- Start Left services -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="Aero.html" target="_blank">
                                          <i class="fa fa-send" ></i>
            
                                      </a>
                
                <h4>AÉRONAUTIQUES</h4>
                <p>  <h8>
                  Apprenez-en davantage sur cette division ici...</h8> 
                </p>
                
              </div>
            </div>
            
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="Marine.html" target="_blank">
                                          <i class="fa fa-ship"></i>
                                      </a>
                <h4>MARINE</h4>
                <p>
                  Apprenez-en davantage sur cette division ici...</p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="Quality.html" target="_blank">
                  <i class="fa fa-search"></i>

                                      </a>
                  <h4>CONTRÔLE DE QUALITÉ</h4>
                  <p>
                    Apprenez-en davantage sur cette division ici...</p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="Industry.html" target="_blank">
                  <i class="fa fa-industry"></i>

                                      </a>
                <h4> INDUSTRIE</h4>
                <p>
                  Apprenez-en davantage sur cette division ici...</p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <!-- End Left services -->
        
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="Rail.html" target="_blank">
                                          <i class="fa fa-train"></i>
                                      </a>
                <h4>TRANSPORT FERROVIAIRE ET GUIDE</h4>
                <p>
                  Apprenez-en davantage sur cette division ici...</p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="Containers.html" target="_blank">
                  <i class="fa fa-anchor"></i> 

                                      </a>
                <h4>CONTROLE ET VERIFICATION DES CONTENEURS</h4>
                <p>
                  Apprenez-en davantage sur cette division ici...</p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-12 col-sm-4 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="Elevators.html" target="_blank">
                  <i class="fa fa-arrow-up"></i>
                  <i class="fa fa-arrow-down"></i>
                                      </a>
                <h4>INSPECTION TECHNIQUE DES ASCENSEURS</h4>
                <p>
                  Apprenez-en davantage sur cette division ici...</p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- awesome-portfolio end -->
<!-- Start reviews Area -->
<div class="reviews-area hidden-xs">
  <div class="work-us">
    <div class="work-left-text">
      <a href="mailto:dg@verital.dz">
                      <img src="img/about/2.jpg" alt="">
                  </a>
    </div>
    <div class="work-right-text text-center">
      <h2>travailler avec nous
        
        </h2>
      <h5>pour toute question contactez-nous</h5>
      <a href="contact.html" class="ready-btn" target="_blank">Contactez-nous</a>
    </div>
  </div>
</div>
<!-- End reviews Area -->
<!-- Start team Area -->

<!-- Start team Area -->
<div id="team" class="our-team-area area-padding">
  <div class="container">
    
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <a href="/team" target="_blank"> <!-- Ensure this href is /team -->
            <h2>Notre équipe spéciale</h2>
          </a>
        </div>
      
      <div class="row">
        <% topTeamMembers.forEach(teamMember => { %>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#" target="_blank">
                  <img src="<%= teamMember.image %>" alt="">
                </a>
                <div class="team-social-icon text-center">
                  <ul>
                    <li>
                      <a href="<%= teamMember.socialMedia.facebook %>" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="<%= teamMember.socialMedia.twitter %>" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="<%= teamMember.socialMedia.instagram %>" target="_blank">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="team-content text-center">
                <h6><%= teamMember.name %></h6>
                <p><%= teamMember.position %></p>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
  </div>
</div></div>


<!-- End Team Area -->
<!-- Start Testimonials -->
<div class="our-skill-area fix hidden-sm">
  
  <div class="skill-bg area-padding-2">
    <div class="container">
      <div class="text-center testimonial-heading">
        <h2>REFERENCE</h2>
      </div>
      <!-- section-heading end -->
      <div class="row">
        <div class="skill-text">
          <!-- Testimonies section -->
          <div class="testimonial-loop">
            <!-- Testimonies will be dynamically inserted here -->
          </div>
          
          <!-- End of testimonies loop -->
        </div>
      </div>
    </div>
  </div>
 
</div>
<!-- End Testimonials -->
<!-- Start Blog Area -->
<div id="blog" class="blog-area">
  <div class="blog-inner area-padding">
    <div class="blog-overly"></div>
    <div class="container ">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Dernières nouvelles</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start Left Blog -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="single-blog">
            <div class="single-blog-img">
              <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fverital.officiel%2Fvideos%2F372526678618864%2F&show_text=false&width=476&t=0" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            </div>
            <div class="blog-meta">
              <span class="comments-type">
                  <i class="fa fa-comment-o"></i>
                  <a href="#">21</a>
                </span>
              <span class="date-type">
                  <i class="fa fa-calendar"></i>28-NOV-2023
                </span>
            </div>
            <div class="blog-text">
              <h4>
                  <a href="#">Nos Services</a>
                </h4>
              <p>
                Parce que votre sécurité est notre priorité... 
              </p>
            </div>
            <span>
                <a href="blog-details.html" class="ready-btn">En savoir plus</a>
              </span>

          </div>
        </div>
          
        <!-- End Left Blog-->
        <!-- Start Left Blog -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="single-blog">
            <div class="single-blog-img">
              <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fverital.officiel%2Fvideos%2F828764498993258%2F&show_text=false&width=476&t=0" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                          </div>
            <div class="blog-meta">
              <span class="comments-type">
                  <i class="fa fa-comment-o"></i>
                  <a href="#">21</a>
                </span>
              <span class="date-type">
                  <i class="fa fa-calendar"></i>09-NOV-2023
                </span>
            </div>
            <div class="blog-text">
              <h4>
                  <a href="#">Nos Services</a>
                </h4>
              <p>
                Parce que votre sécurité est notre priorité... 
              </p>
            </div>
            <span>
                <a href="blog-details.html" class="ready-btn">En savoir plus</a>
              </span>

          </div>
        </div>
        <!-- End Left Blog-->
        <!-- Start Right Blog-->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="single-blog">
            <div class="single-blog-img">
              <iframe src="https://www.facebook.com/plugins/video.php?height=420&href=https%3A%2F%2Fwww.facebook.com%2Fverital.officiel%2Fvideos%2F1280376879181608%2F&show_text=false&width=560&t=0" width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

                          </div>
            <div class="blog-meta">
              <span class="comments-type">
                  <i class="fa fa-comment-o"></i>
                  <a href="#">89</a>
                </span>
              <span class="date-type">
                  <i class="fa fa-calendar"></i>12-JAN-2023
                </span>
            </div>
            <div class="blog-text">
              <h4>
                  <a href="#">Nos Services</a>
                </h4>
              <p>
                Parce que votre sécurité est notre priorité... 
              </p>
            </div>
            <span>
                <a href="blog-details.html" class="ready-btn">En savoir plus</a>
              </span>

          </div>
        </div>
        <!-- End Right Blog-->
      </div>
    </div>
  </div>
</div>
<!-- End Blog -->
<!-- Start Suscrive Area -->
<div id="Suscrive" class="section-headline text-center">
  <h2>Approuvé par les plus grandes marques</h2>
</div>
<div class="slider-container">
<div class="slider">
<div class="slide">
<img src="img/1/1.png" alt="" />
<img src="img/1/2.png" alt="" />
<img src="img/1/24-225x202.png" alt="" />
<img src="img/1/25-240x202.png" alt="" />
<img src="img/1/27-231x202.png" alt="" />
<img src="img/1/29-225x202.png" alt="" />
<img src="img/1/30-320x202.png" alt="" />
<img src="img/client/1.png" alt="" />
<img src="img/client/3.png" alt="" />
<img src="img/client/4.png" alt="" /> <!-- Duplicate the first image to create a loop -->
<img src="img/1/1.png" alt="" />
</div>
</div>
</div>


<!-- End Suscrive Area -->
<!-- Start contact Area -->
<div id="contact" class="contact-area">
  <div class="contact-inner area-padding">
    <div class="contact-overly"></div>
    <div class="container ">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Contactez-nous</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fa fa-mobile"></i>
              <a href="tel:+21323701727"><P>Appelez-nous au +213 (0) 23 70 17 27</P></a>
              <p>
                Fax: +213 (0) 23 70 17 28<br>
                <span>Dimanche-jeudi (8h-16h)</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fa fa-envelope-o"></i>
              <a href="mailto:dg@verital.dz"> <p>dg@verital.dz</p></a>
              <p>
                <a href="https://www.verital.dz " target="_blank"><p> Web:  www.verital.dz </p></a>
               
              
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fa fa-map-marker"></i>
              <a href="https://www.google.com/maps/search/38,+Lotissement+Pons+Kouba,+Alger" target="_blank"><p>
                38, Lotissement Pons<br>
                <span>Kouba – Alger</span>
              </p></a>

              
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <!-- Start Google Map -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!-- Start Map -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21888.55382199453!2d3.0606491!3d36.7146951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128fad0afd9463ab%3A0xa88e2f6cd6697730!2sVERITAL%20-%20Direction%20G%C3%A9n%C3%A9rale!5e1!3m2!1sen!2sdz!4v1714042568588!5m2!1sen!2sdz" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <!-- End Map -->
        </div>
        <!-- End Google Map -->

        <!-- Start  contact -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form contact-form">
            <div id="sendmessage">Votre message a été envoyé. Merci!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="votre nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="votre Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="S'il te plaît, écris quelque chose pour nous" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Envoyer message</button></div>
            </form>
          </div>
        </div>
        <!-- End Left contact -->
      </div>
    </div>
  </div>
</div>
<!-- End Contact Area -->


<!-- Start Footer bottom Area -->
<%- include ('partials/footer.ejs')%>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<%- include ('partials/lib.ejs')%>

