
<header>
  <div class="ticket">
    <img src="/public/img/1/alg.png" alt="Ticket">
    <div class="details">
      <div class="phone-number">Verital SPA</div>
      <p>dg@verital.dz</p>
      <p>+213(0)23701727</p>
      <p>www.verital.dz</p>
    </div>
  </div>
  <div id="sticker" class="header-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand sus-btn page-scroll sticky-logo <%= isActiveRoute('/', currentRoute) %>" href="/">
                <img src="/public/img/logo.png" alt="Verital" title="Verital" class="img-fixed logo-image">
              </a>
            </div>
            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="<%= isActiveRoute('/', currentRoute) %>">ACCUEIL</a></li>
                <li><a class="page-scroll <%= isActiveRoute('/news', currentRoute) %>" href="/news">ACTUALITES</a></li>
                <li><a class="page-scroll <%= isActiveRoute('/contact', currentRoute) %>" href="/contact">CONTACT</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LANGUES <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" onclick="changeLanguage('fr')">Français</a></li>
                    <li><a href="#" onclick="changeLanguage('en')">English</a></li>
                    <li><a href="#" onclick="changeLanguage('ar')">العربية</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Start Bottom Header -->
<div class="header-bg page-area">
  <div class="home-overly"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content text-center">
                  <div class="header-bottom">
                      <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                          <h1 class="title2">VERITAL </h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="single-blog-page">
  <!-- search option start -->
  <form action="/search" method="get">
    <div class="search-option">
      <form action="/search" method="get">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    </div>
  </form>
  <!-- search option end -->
</div>
  
    <!-- search.ejs -->
    <h1>Search Results for "<%= searchTerm %>"</h1>

    <% results.forEach(result => { %>
        <div class="result-item">
            <h2>Found in: <%= result.context %></h2>
            <div class="result-content">
                <% if (result.type === 'slide') { %>
                    <div class="slide">
                        <h3><%= result.data.title %></h3>
                        <p><%= result.data.description %></p>
                    </div>
                <% } else if (result.type === 'division') { %>
                    <div class="division">
                        <h3><%= result.data.name %></h3>
                        <p><%= result.data.description %></p>
                    </div>
                <% } else if (result.type === 'team') { %>
                    <div class="team-member">
                        <h3><%= result.data.name %></h3>
                        <p><%= result.data.position %></p>
                    </div>
                <% } else if (result.type === 'contact') { %>
                    <div class="contact">
                        <h3><%= result.data.name %></h3>
                        <p><%= result.data.email %></p>
                    </div>
                <% } else if (result.type === 'profile') { %>
                    <div class="profile">
                        <h3><%= result.data.title.en %></h3>
                        <p><%= result.data.content.en %></p>
                    </div>
                <% } else if (result.type === 'about') { %>
                    <div class="about">
                        <p><%= result.data.content %></p>
                    </div>
                <% } else if (result.type === 'service') { %>
                    <div class="service">
                        <h3><%= result.data.name %></h3>
                        <p><%= result.data.description %></p>
                    </div>
                <% } else if (result.type === 'testimonial') { %>
                    <div class="testimonial">
                        <p><%= result.data.text %></p>
                    </div>
                <% } else if (result.type === 'news') { %>
                    <div class="news">
                        <h3><%= result.data.title %></h3>
                        <p><%= result.data.content %></p>
                    </div>
                <% } %>
            </div>
            <p><a href="<%= result.url %>">View in original location</a></p>
        </div>
    <% }) %>

<!-- Start Footer bottom Area -->
<%- include ('partials/footer.ejs')%>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<%- include ('partials/lib.ejs')%>
