<%
function isActiveRoute(route, currentRoute) {
  return route === currentRoute ? 'active' : '';
}
%>
<div id="preloader"></div>

<%- include('partials/header.ejs', { currentRoute: '/services', services: allServices }) %>

<div class="header-bg page-area">
  <div class="home-overly"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="slider-content text-center">
          <div class="header-bottom">
            <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
              <h1 class="title2"><%= service.title.en %></h1> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
<div class="blog-page area-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="page-head-blog">
          <div class="single-blog-page">
            <form action="/search" method="get">
              <div class="search-option">
                <input type="text" name="q" placeholder="Search...">
                <button type="submit"><%= __('Search')%></button>
              </div>
            </form>
          </div>
          <div class="single-blog-page">
            <div class="left-blog">
              <h4><%= __('our Services')%></h4>
              <div class="recent-post">
                <% allServices.forEach(service => { %> 
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="/services/<%= service.name %>"> 
                        <img src="<%= service.image[0] %>" alt="<%= service.name %>"> 
                      </a>
                    </div> 
                    <div class="pst-content">
                      <p><a href="/services/<%= service.name %>"><%= service.title.en %></a></p> 
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
          <!-- <div class="single-blog-page">
            <div class="left-tags blog-tags">
                <div class="popular-tag left-side-tags left-blog">
                    <h4><%= __('Popular Tags')%></h4>
                    <ul>
                        <li><a href="#">dfg</a></li>
                        <li><a href="#">dfsfs</a></li>
                        <li><a href="#">sdfsdf</a></li>
                        <li><a href="#">sgdhfjg</a></li>
                        <li><a href="#">f</a></li>
                        <li><a href="#">dfsqfd</a></li>
                        <li><a href="#">sqfdfqs</a></li>
                        <li><a href="#">sqdffsqd</a></li>
                    </ul>
                </div>
            </div>
        </div> -->
        </div>
      </div>

      <!-- Start single blog -->
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="single-blog">
              <div class="single-blog-img">
                <img src="<%= service.image[0] %>" alt="<%= service.name %>"> 
              </div>
              <div class="blog-meta">
              </div>
              <div class="blog-text">
                <h4>
                  <a href="#"><%= service.title.en %></a> 
                </h4>
                <p><%= service.description.en %></p> 
              </div>
              <span>
                <a href="/" class="ready-btn"><%= __('En savoir plus')%></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- End single blog -->
    </div>
  </div>
</div>
<div class="clearfix"></div>

<%- include ('partials/footer.ejs')%>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<%- include ('partials/lib.ejs')%>
