<%
function isActiveRoute(route, currentRoute) {
  return route === currentRoute ? 'active' : '';
}
%>
<div id="preloader"></div>

<%- include('partials/header.ejs', { currentRoute: '/services', services: allServices, newsData }) %>

<div class="header-bg page-area">
  <div class="home-overly"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="slider-content text-center">
          <div class="header-bottom">
            <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
              <!-- Display title in selected language -->
              <p>Current Language: <%= lang %></p>
              <h1 class="title2"><%= service.title[lang] %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog-page area-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="page-head-blog">
          <div class="single-blog-page">
            <form action="/search" method="get">
              <div class="search-option">
                <input type="text" name="q" placeholder="<%= __('Search') %>">
                <button type="submit"><%= __('Search') %></button>
              </div>
            </form>
          </div>
          <div class="single-blog-page">
            <div class="left-blog">
              <h4><%= __('Our Services') %></h4>
              <div class="recent-post">
                <% allServices.forEach(service => { %> 
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="/services/<%= service.name[lang] %>"> 
                        <img src="<%= service.image[0] %>" alt="<%= service.name[lang] %>"> 
                      </a>
                    </div> 
                    <div class="pst-content">
                      <p><a href="/services/<%= service.name %>"><%= service.title[lang] %></a></p> 
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
          <div class="single-blog-page">
            <div class="left-blog">
                <h4>Archive</h4>
                <ul>
                    <% newsData.forEach(news => { %>
                        <li><a href="#"><%= new Date(news.date).toDateString() %></a></li>
                    <% }); %>
                </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Start single blog -->
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="single-blog">
              <div class="single-blog-img">
                <img src="<%= service.image[0] %>" alt="<%= service.name[lang] %>"> 
              </div>
              <div class="blog-meta">
              </div>
              <div class="blog-text">
                <h4>
                  <a href="#"><%= service.title[lang] %></a> 
                </h4>
                <div class="description">
                  <p><%= service.description[lang] %></p>
                </div>
                <div class="add-description">
                  <p><b><%= service.adddescription[lang] %></b></p>

                  <% if (service.content) { %>
                    <div class="content-text">
                      <p><%= service.content.text %></p>
                    </div>
                    <div class="content-images">
                      <% service.content.images.forEach(img => { %>
                        <div>
                          <img src="<%= img %>" alt="<%= service.name[lang] %>">
                        </div>
                      <% }) %>
                    </div>
                    <div class="content-tables">
                      <p>Table content goes here.</p>
                    </div>
                  <% } %>
                  
              </div>
              <span>
                <a href="/" class="ready-btn"><%= __('Learn More') %></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- End single blog -->
    </div>
  </div>
</div>
<div class="clearfix"></div>

<%- include('partials/footer.ejs') %>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<%- include('partials/lib.ejs') %>
